*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

.text > p{
    margin-top: 15px;
}

h1{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    margin-top: 20px;
    font-weight: 700;
}

.container{
    display: flex;
    height: 60vh;
    width: 40%;
    margin: auto;
    border-radius: 32px;
    margin-top: 150px;
    }

.text{
    background: hsl(0, 0%, 100%);
    padding: 30px;
    text-align: left;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.container > *{
    width: 100%;
}

.image img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

span{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span .line{
    text-decoration: line-through;
}

.green{
    font-weight: 700;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}

a{
    background-color: hsl(158, 36%, 37%);
    padding: 15px;
    color: white;
    display: flex;
    gap: 15px;
    width: 100%;
    border-radius: 12px;
    margin-top: 20px;
}

 i, a>p{
    color: white;
    font-weight: 500;
}



@media (max-width: 375px){
    .container{
        width: 100%;
        height: 100vh;
        margin: 0px;
        flex-direction: column;
    }
    .text,.image{
        height: 55vh;
    }

    .text{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 22px;
        border-bottom-left-radius: 22px;
    }

    .image img{
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    body{
        padding: 20px;
    }
    a, .text>*{
        margin-top: 0px;
    }
}